<div class="country-container">
    {{#each this}}
    <ul>
        <h1>{{name}}</h1>
        <img class="country-flag" src="{{flag}}" alt="country flag">
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <p>Languages:
            {{#each languages}}
            <li>{{name}}</li> 
            {{/each}}
        </p>
    </ul>
    {{/each}}
</div>